<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:mongo="http://www.springframework.org/schema/data/mongo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
        http://www.springframework.org/schema/data/mongo
        http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd">
        
	<!-- Bean
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close" p:driverClass="com.mysql.jdbc.Driver"
		p:jdbcUrl="jdbc:mysql://localhost:3306/bookshare" p:user="root"
		p:password="123456" p:maxPoolSize="40" p:minPoolSize="1"
		p:initialPoolSize="1" p:maxIdleTime="20" />
	-->

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/bookshare?useUnicode=true&amp;characterEncoding=UTF-8" />
        <property name="username" value="root" />
        <property name="password" value="123456" />
    </bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		p:dataSource-ref="dataSource">
		<property name="mappingResources">
			<list>
				<value>model/User.hbm.xml</value>
				<value>model/Book.hbm.xml</value>
				<value>model/BookRelease.hbm.xml</value>
				<value>model/Borrow.hbm.xml</value>
				<value>model/BorrowHistory.hbm.xml</value>
			</list>
		</property>
		<!-- Hibernate SessionFactory -->
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQLInnoDBDialect
				hibernate.show_sql=false
				hibernate.format_sql=true
			</value>
		</property>
	</bean>

	<!-- HibernateTransactionManager -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory" />

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<!-- appService Bean -->
		<aop:pointcut id="beanPointcut" expression="execution(* service..*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="beanPointcut" />
	</aop:config>

    <mongo:mongo id="mongo" host="localhost" port="27017"/>
    <mongo:db-factory id="mongoDbFactory" dbname="bookshare"
        mongo-ref="mongo" />
    
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
         <constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
    </bean>
    
    <!-- ============================================================= -->
    
    <!-- DAO Bean -->
    <bean id="baseDao" class="dao.impl.BaseDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="mongoTemplate" ref="mongoTemplate" />
    </bean>
    <bean id="userDao" class="dao.impl.UserDaoImpl" parent="baseDao">
    </bean>
    <bean id="bookDao" class="dao.impl.BookDaoImpl" parent="baseDao">
    </bean>
    <bean id="bookReleaseDao" class="dao.impl.BookReleaseDaoImpl" parent="baseDao">
    </bean>
    <bean id="borrowDao" class="dao.impl.BorrowDaoImpl" parent="baseDao">
    </bean>
    <bean id="borrowHistoryDao" class="dao.impl.BorrowHistoryDaoImpl" parent="baseDao">
    </bean>
    <bean id="imageDao" class="dao.impl.ImageDaoImpl" parent="baseDao">
    </bean>

    <!-- ============================================================= -->

    <!-- Service -->
    <bean id="userService" class="service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="bookService" class="service.impl.BookServiceImpl">
        <property name="bookDao" ref="bookDao"/>
        <property name="bookReleaseDao" ref="bookReleaseDao"/>
        <property name="imageDao" ref="imageDao"/>
    </bean>
    <bean id="borrowService" class="service.impl.BorrowServiceImpl">
        <property name="bookDao" ref="bookDao"/>
        <property name="bookReleaseDao" ref="bookReleaseDao"/>
        <property name="userDao" ref="userDao"/>
        <property name="borrowDao" ref="borrowDao"/>
        <property name="borrowHistoryDao" ref="borrowHistoryDao"/>
    </bean>
    <bean id="orderService" class="service.impl.OrderServiceImpl">
        <property name="bookDao" ref="bookDao"/>
    </bean>
    <bean id="imageService" class="service.impl.ImageServiceImpl">
        <property name="imageDao" ref="imageDao"/>
    </bean>
    
    <!-- ============================================================= -->
    
    <!-- Action -->
    <bean id="userAction" class="action.UserAction">
        <property name="userService" ref="userService"/>
    </bean>
    <bean id="authAction" class="action.AuthAction">
        <property name="userService" ref="userService"/>
    </bean>
    <bean id="bookAction" class="action.BookAction">
        <property name="bookService" ref="bookService"/>
    </bean>
    <bean id="orderAction" class="action.OrderAction">
        <property name="orderService" ref="orderService"/>
    </bean>
    <bean id="cartAction" class="action.CartAction">
        <property name="orderService" ref="orderService"/>
    </bean>
    <bean id="imageAction" class="action.ImageAction">
        <property name="imageService" ref="imageService"/>
    </bean>
    <bean id="indexAction" class="action.IndexAction">
        <property name="bookService" ref="bookService"/>
    </bean>
    
</beans>